.nav__bar{
    background:rgba(0,0,0,0.8) ;
    display: flex;
    padding: 5px 10px 0 10px;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 1000;
    opacity: 1;

}
.right__items{
    display:flex;
}    
.right__items li{
    list-style: none;
    margin: 0 15px;
}
.text__link{
    color: white;
}
.logo{
    flex: 1;
}