.nav__bar{
    background:rgba(0,0,0,0.6) ;
    display: flex;
    align-items: center;
    padding: 5px 10px 0 10px;
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    z-index: 1000;

}
.right__items{
    display:flex;
    align-items: center;
}    
.right__items li{
    list-style: none;
}
.text__link{
    color: white;
    transition: all 0.2s ;
    font-size: 16px;
    text-align: center;
    width: 100px;
    display:inline-block;
}
.search__bar{
    margin-right: 30px;
    background-color: red;
    display: inline-block;
}
.text__link:hover{
    background-color: whitesmoke;
    color: black;
    border-radius: 3px;
    transform: scale(1.05);
    display: inline-block;
}
.logo{
    flex: 1;
}

